<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="reportMappings" type="CrystalDecisions.Shared.ReportMappingHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ORACLE" connectionString="Data Source=TIMEP;UID=insudb;Password=prodvt09" providerName="System.Data.OracleClient"/>
    <!--<add name="ORACLE" connectionString="Data Source=TIME;UID=insudb;Password=" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <trace enabled="true"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.TemplateEngine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.VSDesigner, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="AppErrors.aspx">
      <error statusCode="102" redirect="NoSuchPage.aspx"/>
      <error statusCode="403" redirect="NoAccessAllowed.aspx"/>
    </customErrors>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="256000" />
    <sessionState mode ="InProc" timeout ="1440"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="262144000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="Procesos.aspx">
    <system.web>
      <httpRuntime maxRequestLength="600000"/>
    </system.web>
  </location>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="RutaMasiva" value="D:\Masiva\"/>
      <add key="RutaSql" value="\\prtsrv01\Ejecutables\SQL\"/>
      <add key="RutaCarga" value="D:\"/>
      <add key="ServerSecurity" value="SI"/>
      <add key="RutaTemp" value="\\prtsrvD5\Ejecutables\Temp\"/>
      <add key="RutaEjecutables" value="\\prtsrv01\Ejecutables\"/>
      <add key="Server" value="\\prtsrvD5"/>
      <add key="PasswordUserInt" value="PRT12345$"/>
      <add key="BD" value="TIMEP"/>
      <add key="UserBD" value="insudb"/>
      <add key="PasswordBD" value="prodvt09"/>
	    <add key="RutaTramaSUSALUD" value="C:\ProtectaSUSALUD\GeneracionTrama\"/>
      <add key="usuFTPS_SUSALUD" value="usuRegafi"/>
      <add key="pasFTPS_SUSALUD" value="pasRegafi"/>
      <add key="hostFTPS_SUSALUD" value="apprx.susalud.gob.pe"/>
      <add key="portFTPS_SUSALUD" value="61400"/>
      <add key="rutaformatoFTPS_SUSALUD" value="\Archivo\\testfile4.txt"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="LimiteDeProcesos" value="5"/>
      <add key ="FormatoSCTREmiMatriz" value="Nombre del archivo es incorrecto , formato Correcto =>  SCTR_EMI_DD-MM-YYYY o SCTR_EMI_DD-MM-YYYY_XXX"/>
      <add key ="FormatoEmiMatriz" value="Nombre del archivo es incorrecto , formato Correcto =>  EMISION_POL_DD-MM-YYYY o EMISION_POL_DD-MM-YYYY_XXX"/>
    </appSettings>
  </location>
  <businessObjects>
    <crystalReports>
      <reportMappings>
        <add reportName="Paso1_Carga.rpt" path="Reportes\Paso1_Carga.rpt"/>
        <add reportName="Paso1_Detallado.rpt" path="Reportes\Paso1_Detallado.rpt"/>
        <add reportName="Paso1_Resumido.rpt" path="Reportes\Paso1_Resumido.rpt"/>
        <add reportName="Paso2_Errores.rpt" path="Reportes\Paso2_Errores.rpt"/>
        <add reportName="Paso2_Resumen.rpt" path="Reportes\Paso2_Resumen.rpt"/>
        <add reportName="Paso2_Transferidos.rpt" path="Reportes\Paso2_Transferidos.rpt"/>
        <add reportName="Paso3_Modulos.rpt" path="Reportes\Paso3_Modulos.rpt"/>
        <add reportName="Paso4_ResumenAgrobanco.rpt" path="Reportes\Paso4_ResumenAgrobanco.rpt"/>
        <add reportName="Paso4_ResumenAgrobancoPermanencia.rpt" path="Reportes\Paso4_ResumenAgrobancoPermanencia.rpt"/>
        <add reportName="Paso4_ResumenTotal.rpt" path="Reportes\Paso4_ResumenTotal.rpt"/>
      </reportMappings>
    </crystalReports>
  </businessObjects>
</configuration>